/*Needs to be structured*/

.hotel-available-rooms {
  width: 100%;
}
.hotel-available-rooms td {
	padding: 5px;
	vertical-align: top;
}
.hotel-available-rooms td ul {
  padding: 0 0 0 20px;
  margin: 0;
}
.hotel-available-rooms td li {
  padding: 0;
}
.col {
}
.hotel-available-rooms .room-image img {
  float: left;
}
.room-type {
 }
.sleeps {
 }
.dates {
 }
.price {
 }
.rooms {
 }

#edit-book-hotel-form {}
#edit-book-hotel-form .form-item-booking-start-date,
#edit-book-hotel-form .form-item-booking-end-date {
  float: left;
  width: 25%;
  margin: 0 5% 0 0;
}
#edit-book-hotel-form .form-item-booking-start-date {}
#edit-book-hotel-form .form-item-booking-end-date {}
#edit-book-hotel-form .form-submit {
  margin-top: 15px;
}

/*body {
  position: relative;
}
#book-hotel-iframe-overlay {
  position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.78);
	z-index: 99999;
}
#book-hotel-iframe-popup-wrapper {
  width: 70%;
  margin: 0 auto;
  background: #FFFFFF;
  border: 2px solid #000000;
}*/
#book-hotel-iframe-popup-wrapper {
  border: 1px solid gainsboro;
}
#book-hotel-iframe-popup-wrapper .book-hotel-iframe-popup-close {
  background: url('close.png') no-repeat 50% 50%;
	float: right;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	padding: 10px;
	cursor: pointer;
}
#book-hotel-iframe-popup-wrapper .secure-booking-text {
  padding: 3px;
	margin: 0;
	border-bottom: 2px solid gainsboro;
}
#iframe-room-boorking-process {
	border: none;
}